.alternate-selection-mode {
	outline: 2px solid grey;
}

.select-card-category-wrapper-outer {
	display: grid;

	& .select-card-category-wrapper-inner {
		overflow-y: hidden;
	}
}

.category-animated-enter {
	grid-template-rows: 0fr;
}
.category-animated-enter-active {
	transition: grid-template-rows 250ms ease-in-out;
	grid-template-rows: 1fr;
}
.category-animated-exit {
	grid-template-rows: 1fr;
}
.category-animated-exit-active {
	transition: grid-template-rows 250ms ease-in-out;
	grid-template-rows: 0fr;
}

.select-card-category-button {
	border: none;
	background-color: white;
	width: 100%;
	flex-shrink: 0;
	text-align: left;
	border-right: 4px solid;
	border-bottom: 1px solid black;

	&.ally {
		border-right-color: var(--color-ally);
	}
	&.condition {
		border-right-color: var(--color-condition);
	}
	&.equipment {
		border-right-color: var(--color-equipment);
	}
	&.hero {
		border-right-color: var(--color-hero);
	}
	&.location {
		border-right-color: var(--color-location);
	}
	&.maneuver {
		border-right-color: var(--color-maneuver);
	}
	&.villain {
		border-right-color: var(--color-villain);
	}
}

.select-card {
	width: calc(100% - 0.5rem);
	margin-left: 0.5rem;
	color: white;
	-webkit-text-stroke: 1px black;
	font-weight: 800;

	&.selected {
		opacity: 50%;
	}

	&.ally {
		background-color: var(--color-ally);
	}
	&.condition {
		background-color: var(--color-condition);
	}
	&.equipment {
		background-color: var(--color-equipment);
	}
	&.hero {
		background-color: var(--color-hero);
	}
	&.location {
		background-color: var(--color-location);
	}
	&.maneuver {
		background-color: var(--color-maneuver);
	}
	&.villain {
		background-color: var(--color-villain);
	}
}
