h2 {
	margin-top: 0;
}

.simple-card {
	margin: 0.5rem 0;
	border-radius: 5px;
	border: 1px solid #222;
	cursor: pointer;

	/* header is first child, then the first card is the second child */
	&:nth-child(2) {
		margin-top: 0;
	}

	&:focus {
		outline: 2px solid #222222;
	}

	&.blanked {
		opacity: 65%;
		filter: brightness(1.2) grayscale(0.85);

		& .card-top-border {
			background-image: none;
		}
	}

	&.blanked, &.text-blanked {
		& .card-text {
			text-decoration: underline;
			text-underline-offset: -0.3rem;
			text-decoration-skip-ink: none;
		}
	}

	& .card-top-border {
		display: flex;
		align-items: center;
		padding: 0.5rem 0.75rem;
		border-radius: 4px 4px 0 0;
		line-height: 1.15rem;
		background-image:
			radial-gradient(circle at center, #00000018 0.15rem, transparent 0),
			radial-gradient(circle at center, #00000018 0.15rem, transparent 0);
		background-size: 0.75rem 0.75rem;
		background-position: 0 0, 0.4rem 0.4rem;

		&.transformed {
			background-color: #333;
			background-image:
					radial-gradient(circle at center, #ff15156b 0.1rem, transparent 0),
					radial-gradient(circle at center, #fa802370 0.1rem, transparent 0);
			background-size: 0.55rem 0.55rem;
			background-position: 0 0, 0.3rem 0.3rem;
			transition:
				background-color 1s,
				background-image 1s;
		}

		> .base-power {
			font-size: 0.75rem;
			border-radius: 0.25rem;
			padding: 0.1rem 0.3rem;
			background-color: white;
			text-align: center;
			min-width: 0.5rem;
		}

		> .name {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			flex-grow: 1;
			font-size: 1.15rem;
		}

		> .final-score {
			font-size: 1.15rem;
		}
	}

	& .card-content {
		background-color: white;
		padding: 0.25rem;
		border-radius: 0 0 4px 4px;
	}

	& .loki-draw {
		font-weight: bold;
		padding-top: 0.2rem;

		& .loki-card {
			display: inline-flex;
			margin: 0.5rem;
			border-radius: 5px;
			border: 1px solid #222;
			padding: 0.3rem 1rem;
		}
	}

	& button.active-card-use {
		margin-left: 0.5rem;
		border: 1px solid #222;
		z-index: 5;
		position: relative;
	}

	& .score {
		background-color: revert;
	}

	& .tag-list {
		display: inline-block;
		padding: 4px;
		margin-top: -4px;
		margin-left: -4px;
		border-width: 0;
		border-color: #ebebeb;
		border-style: groove;
		border-bottom-width: 2px;
		border-right-width: 2px;
		border-bottom-right-radius: 21px 15px;
		border-top-right-radius: 7px 33px;

		& .deleted-tag-container {
			display: inline;
			position: relative;

			& .tag {
				filter: opacity(50%) grayscale(25%);
			}
			&::after {
				content: '';
				background-image: url('../../assets/cross.svg');
				position: absolute;
				color: black;
				top: 0;
				left: 1.5px;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;
			}
		}

		& .tag {
			margin-left: 0.15rem;
			margin-right: 0.15rem;
		}
	}

	& .card-text {
		font-size: 0.9rem;
		line-height: 1.4rem;

		& .score {
			font-size: 1rem;
			font-weight: 800;
			font-style: italic;
		}

		& .score-negative {
			font-size: 1rem;
			font-weight: 800;
			font-style: italic;
			color: #E52315;
		}

		& .name {
			font-size: 0.95rem;
			font-weight: 500;
			font-style: italic;
			text-transform: uppercase;
		}

		& .category {
			font-size: 0.95rem;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;

			&.hero {
				color: var(--color-hero);
			}
			&.ally {
				color: var(--color-ally);
			}
			&.condition {
				color: var(--color-condition);
			}
			&.equipment {
				color: var(--color-equipment);
			}
			&.location {
				color: var(--color-location);
			}
			&.maneuver {
				color: var(--color-maneuver);
			}
			&.villain {
				color: var(--color-villain);
			}
		}
	}
}
