h2 {
	margin-top: 0;
}

.simple-card {
	margin: 0.5rem 0;
	border-radius: 5px;
	border: 1px solid #222;
	cursor: pointer;

	&:focus {
		outline: 2px solid #222222;
	}

	&.blanked {
		opacity: 80%;
	}

	& .card-top-border {
		display: flex;
		align-items: center;
		padding: 0.5rem 0.75rem;
		background-image:
			radial-gradient(circle at center, #00000018 0.15rem, transparent 0),
			radial-gradient(circle at center, #00000018 0.15rem, transparent 0);
		background-size: 0.75rem 0.75rem;
		background-position: 0 0, 0.4rem 0.4rem;

		> .base-power {
			font-size: 0.75rem;
			border-radius: 0.25rem;
			padding: 0.1rem 0.3rem;
			background-color: white;
		}

		> .name {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			flex-grow: 1;
			font-size: 1.15rem;
			color: white;
			font-weight: 900;
			-webkit-text-stroke: 1px black;
		}

		> .final-score {
			font-size: 1.15rem;
			color: white;
			font-weight: 900;
			-webkit-text-stroke: 1px black;
		}
	}

	& .card-content {
		background-color: white;
		padding: 0.25rem;
	}

	& .loki-draw {
		& .loki-card {
			display: inline-flex;
			margin: 0.5rem;
			border-radius: 5px;
			border: 1px solid #222;
			padding: 0 1rem;
		}
	}

	& button.active-card-use {
		margin-left: 0.5rem;
		border: 1px solid #222;
	}

	& .score {
		background-color: revert;
	}

	& .tag-list {
		& .tag {
			margin-left: 0.15rem;
			margin-right: 0.15rem;
		}
	}

	& .card-text {
		& .score {
			font-size: 1.35rem;
			font-weight: 800;
			font-style: italic;
		}

		& .score-negative {
			font-size: 1.35rem;
			font-weight: 800;
			font-style: italic;
			color: #E52315;
		}

		& .name {
			font-size: 1.15rem;
			font-weight: 500;
			font-style: italic;
		}

		& .category {
			font-size: 1.2rem;
			font-weight: 600;
			font-style: italic;
			text-transform: uppercase;

			&.hero {
				color: var(--color-hero);
			}
			&.ally {
				color: var(--color-ally);
			}
			&.condition {
				color: var(--color-condition);
			}
			&.equipment {
				color: var(--color-equipment);
			}
			&.location {
				color: var(--color-location);
			}
			&.maneuver {
				color: var(--color-maneuver);
			}
			&.villain {
				color: var(--color-villain);
			}
		}
	}
}


.loki-card {

}
