body {
  margin: 0;
  min-width: 320px;
  overflow-y: scroll;
  background-color: #E5E5E5;
}

#root {
  width: 100%;
  max-width: 61rem;
  margin: 0 auto;
}

.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  box-shadow: 0 0 19px 2px black;
}

main {
  flex-grow: 1;
  padding: 1rem;

  @media (max-width: 450px) {
    padding: 0.75rem 0.5rem;
  }
}

.content {
  display: flex;
  flex-grow: 1;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  background-color: #fffffffa;
}

.column-select {
  width: 8.5rem;
  padding-right: 1px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
}
