@font-face {
	font-family: Marvel-Remix-Icons;
	src: url('../assets/Marvel-Remix-Icons.woff');
}

i.tag {
	/*noinspection CssNoGenericFontName*/
	font-family: Marvel-Remix-Icons;
	font-size: 20px;
	position: relative;
	top: 3px;
	display: inline-block;
	line-height: 0;
}

i.tag:after {
	display: inline-block;
	line-height: 27px;
	height: 21px;
}

i.mr-tech:after {
	content: '\E001';
	color: #cc0952;
}

i.mr-intel:after {
	content: '\E002';
	color: #565c6d;
}

i.mr-strength:after {
	content: '\E003';
	color: #009344;
}

i.mr-agility:after {
	content: '\E004';
	color: #f68b1f;
}

i.mr-flight:after {
	content: '\E005';
	color: #00a7ea;
}

i.mr-range:after {
	content: '\E006';
	color: #92278f;
}

i.mr-wakanda:after {
	content: '\E007';
	color: #38002d;
}

i.mr-asgard:after {
	content: '\E008';
	color: #c58f68;
}

i.mr-mutant:after {
	content: '\E009';
	color: #00487a;
}

i.mr-gamma:after {
	content: '\E00A';
	color: #88ac2e;
}

i.mr-worthy:after {
	content: '\E00B';
	color: #968359;
}

i.mr-urban:after {
	content: '\E00C';
	color: #ec0b8c;
}

i.mr-boss:after {
	content: '\E00D';
	color: #ed1d24;
}
