:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 0.6em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: white;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}


.bg-color-ally {
	background-color: var(--color-ally);
}
.bg-color-condition {
	background-color: var(--color-condition);
}
.bg-color-equipment {
	background-color: var(--color-equipment);
}
.bg-color-hero {
	background-color: var(--color-hero);
}
.bg-color-location {
	background-color: var(--color-location);
}
.bg-color-maneuver {
	background-color: var(--color-maneuver-bg);
}
.bg-color-villain {
	background-color: var(--color-villain);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
