:root {
	--color-ally: #92278f;
	--color-condition: #00853e;
	--color-equipment: #565c6d;
	--color-hero: #007cad;
	--color-location: #e17509;
	--color-maneuver-bg: #d06a92;
	--color-maneuver: #e00b84;
	--color-villain: #98080c;
}
